<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bar Chart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Import the Plotly library-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <!-- Import the Chartist library-->   
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

  <!-- Import the D3 library-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- CSS Style Sheet-->   
  <link rel="stylesheet" type="text/css" href="/static/style.css">
 

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Group 4 - Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Visualizations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/">Home</a> 
                <a class="dropdown-item" href="Map">US Map</a>
                <a class="dropdown-item" href="Bar">Bar Chart</a>     
                <a class="dropdown-item" href="Pie">Pie Chart</a>
                </div>
            </ul>
        </div>
    </nav>
    <div class="row content">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h2 class="text-left">Bar Chart</h2>
            <hr class="my-4">
            <!-- Bar Goes here-->
            <div class="ct-chart ct-perfect-fourth"></div>
            <div class = "well"></div>
            <select id="stateSelect"></select>
            <div>
            <p>Smart words about data go here.</p>
        </div>
    </div>
    <!-- Plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Chartist  -->
    <script src="/static/bower_components/chartist/dist/chartist.min.js"></script>

    <!-- JS  -->
    <script type="text/javascript" src="/static/app2.js"></script>

</body>